{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="content">
    <h1 style="text-align: center">Article Summarizer for Sharing on Social Media</h1>
    <h4 style="text-align: center">Enter the link of any long-form article to summarize.</h4>
    <p>It produces a complete list of summaries that you can share on your social media feed, such as that of LinkedIn, Facebook, and Twitter.</p>
    <p>The article can be any long-form article of any topic, such as technical articles from Wikipedia, medium.com, or your company blog if you look to promote your content</p>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form action="/" method="POST">
        <input placeholder="https://en.wikipedia.org/wiki/Principal_component_analysis" type="text" name="article_link" id="article_link">
        <input type="submit" value="Summarize">
    </form>
    <br>
    <p>Here is a list of potential summaries you could use to post on your Social Media feed.</p>
        {% for summary in summaries_tr %}
            [{{loop.index}}]
            <br>
            {{ summary }}
            <br>
            {{ article_link }}
            <br>
            <br>
        {% endfor %}
</div>
{% endblock %}